<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!--effect #1 -->
  <div class="slider-container">
    <div class="flexbox-slider flexbox-slider-1">
      <div class="flexbox-slide">
        <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-1.jpg" alt="Slide Image">-->
        <video width="auto" height="auto" autoplay loop>
          <source src="../assets/Img/music_low.mp4" type="video/mp4">
        </video>
        <div class="text-block">
          <h3>Slide #1 is here</h3>
          <div class="text">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
          </div>
        </div>
      </div>
      <div class="flexbox-slide">
        <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-2.jpg" alt="Slide Image">-->
        <video width="auto" height="auto" autoplay loop>
          <source src="../assets/Img/corporate_low.mp4" type="video/mp4" >
        </video>
        <div class="text-block">
          <h3>Slide #2 is here</h3>
          <div class="text">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
          </div>
        </div>
      </div>
      <div class="flexbox-slide">
        <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/694606/eff-3.jpg" alt="Slide Image">-->
        <video width="auto" height="auto" autoplay loop>
          <source src="../assets/Img/film_low.mp4" type="video/mp4" >
        </video>
        <div class="text-block">
          <h3>Slide #3 is here</h3>
          <div class="text">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
          </div>
        </div>
      </div>


    </div>
  </div>
